[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
debug.log
Build_09.04/
Build_09.04.zip
Assets/_Recovery/
.claude/
*.asd
*.asd.meta

# Unity generated
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Visual Studio / Rider
.vs/
.vscode/
.idea/
.gradle/
.DS_Store
*.apk
*.aab

# JetBrains Rider
*.DotSettings.user
